header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
        height: 50px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        justify-content: center;
        img {
            height: 50px;
        }
    }
}

