

@use '@angular/material' as mat;

@include mat.core();

$theme-colors: (
  "primary": #00d2c4,
  "danger": #D4386E,
  "success": #00E387,
  "component-active-bg": #00d2c4,
  "input-placeholder-color": #366B6B 
);

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/scss/bootstrap";

html, body { 
    height: 100%;
    background-color: #fafafa;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1,h2,h3,h4,h5,h6,p,td,label {
  color: #366B6B;
}

.card {
  overflow-x: none;
}

option:hover {
  background-color: $primary;
}
